* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.chat_pg_bg-container {
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png");
  height: 100vh;
}

.client_name {
  font-family: roboto;
  color: #ffffff;
  font-size: 26px;
  text-align: center;
  font-weight: bold;
  padding: 18px;
  background-color: #323f4b;
}

.msg-text {
  font-family: "Roboto";
  color: #ffffff;
  font-size: 14px;
  padding: 14px;
}

.msg-sent {
  text-align: right;
  background-color: #47a3f3;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.msg-received {
  background-color: #52606d;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
