* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.booking-pg-bg-container {
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/hotelbg.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 20px;
}

.booking-pg-card-container {
  background-color: #000000e6;
  border-radius: 16px;
  padding: 20px;
}

.booking-pg-card-heading {
  font-family: "Bree Serif";
  color: #ffffff;
  font-size: 22;
}

.booking-pg-card-description {
  font-family: "Roboto";
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.booking-pg-room-price {
  font-family: "Bree Serif";
  color: #ffffff;
  font-size: 22px;
}
